.webix_accordionitem_header .webix_el_box .webix_img_btn_abs:hover,
  .webix_accordionitem_header .webix_el_icon .webix_el_box:hover {
    background-color: red;
  }
  .webix_accordionitem_header .webix_el_icon .webix_el_box:focus {
    background-color: red;
  }
  .webix_accordionitem_header .webix_el_box .webix_img_btn_abs:active {
    background-color: red;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
  .webix_accordionitem_header .webix_control {
    border-color: red;
  }

  .webix_accordionitem_header{
      background: red
  }