.webix_item_tab.webix_selected {
    border-bottom-width: 0px;
    background: #f9a54d !important;
    color: #fff;
    border-color: #f9a54d !important;
}

div.webix_item_tab {
    border-color: #A4B4BF !important;
    padding-top: 3px;
    font-size: 12px;
}

.webix_after_all_tabs {
    background: #f9a54d !important;
}